.social-button-item {
  font-size: 24px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 8px;
}
.social-button-item .hide {
  display: none;
}

/* button size */
.social-button-large .social-button-item {
  font-size: 36px;
}
.social-button-small .social-button-item {
  margin: 10px 5px;
  font-size: 18px;
}

/* button icon */
.social-button-item .social-button-icon {
  display: block;
  color: #979799;
  text-decoration: none !important;
}
.social-button-item .social-button-icon-twitter:hover {
  color: #23acee !important;
}
.social-button-item .social-button-icon-facebook:hover {
  color: #3c5696 !important;
}
.social-button-item .social-button-icon-weibo:hover {
  color: #e32428 !important;
}
.social-button-item .social-button-count {
  position: absolute;
  left: 50%;
  text-align: center;
  margin-top: 10px;
  font: 300 14px/1 sans-serif;
  padding: 6px 6px 5px;
  background: rgba(0, 0, 0, 0.76);
  border-radius: 3px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
.social-button-item:hover .social-button-count {
  opacity: 1;
}
.social-button-item .social-button-count:before {
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -3px;
  content: '';
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.76);
}
